@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
    display: flex;
    flex-direction: row;
    padding: 0%;
    margin: 0%;
    height: 100vh;
}

.sidebar {
    width: 30%;
    background-image: url('images/beach-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10%;
}

.title {
    font-size: 2.5rem;
    font-family: 'Delicious Handrawn', sans-serif;
    display: flex;
    color: aliceblue;
    background-color: rgb(50, 80, 80, 0.8);
    align-items: center;
    justify-content: center;
    height: 8rem;
}

#palm-tree {
    width: 25%;
    height: 50%;
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.upper-text {
    font-weight: bolder;
}

.forms fieldset {
    width: 10%;
}