@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
    display: flex;
    flex-direction: row;
    padding: 0%;
    margin: 0%;
    height: 100vh;
}

.sidebar {
    width: 30%;
    background-image: url('images/beach-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10%;
}

.title {
    font-size: 2rem;
    font-family: 'Delicious Handrawn', sans-serif;
    display: flex;
    color: aliceblue;
    background-color: rgb(50, 80, 80, 0.8);
    align-items: center;
    justify-content: center;
    height: 8rem;
}

#palm-tree {
    width: 20%;
    height: 60%;
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.upper-text {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 25%;
    font-weight: bolder;
}

.forms {
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
    padding: 0 25% 2.5% 5%;
    flex-wrap: wrap;
    /* Allow flex items to wrap */
}

/* Style for input fields */
.row {
    display: flex;
}

.input {
    width: calc(50% - 0.5rem);
    margin-right: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.input label {
    display: block;
    /* Ensure labels stack below inputs */
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.input input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    margin-top: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

input:invalid {
    border: 2px dashed red;
}